<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
  <wicket:panel>
    <dl wicket:id="statslist">
    <dt wicket:id="statname">Anzahl MC-Aufgaben</dt><dd wicket:id="statvalue">55</dd>
    </dl>
  </wicket:panel>
  <DL>
  <DT>Dweeb</DT>
  <DD>young excitable person who may mature
    into a <EM>Nerd</EM> or <EM>Geek</EM></DD>

  <DT>Hacker</DT>
  <DD>a clever programmer</DD>

  <DT>Nerd</DT>
  <DD>technically bright but socially inept person</DD>

</DL>
  
</body>
</html>

