@CHARSET "ISO-8859-1";
/* 

CSS from the article at: http://jontangerine.com/log/2007/09/the-incredible-em-and-elastic-layouts-with-css

License: Attribution-Share Alike 2.0 UK: England & Wales
http://creativecommons.org/licenses/by-sa/2.0/uk/
 
*/
html{
  font-size: 100%; /* WinIE text resize correction */
  heigth: 100%;
} 

body{
  font-size: 1em;
  font-family: georgia, serif;
  color: #444;
  background: #e6e6e6;
  padding: 0;
  margin: 0;
}
div.header {
  background-image: url("elatexam-logo.png");
  background-position: left;
  background-repeat: no-repeat;
  height: 3em;
  margin: 1em auto;
  width: 67.25em;
}

div.header div.userStatus {
  text-align: right;
}

.mainContent{
  width: 67.25em;
  margin: 0em auto;
  background: #FEFEFE;
  /* border: 0.063em solid #ccc; */
  text-align: left;
  min-height:20em;
}
.mainContent div.toolbar {
 background: #F2E2CB;
 float:left;
 margin-bottom: 1em;
 min-height: 1.4em;
 border-bottom: 1px solid #DADADA;
}
.mainContent div.toolbar a{
  padding: 0.8em 0.5em;
  text-decoration: none;
  color: black;  
  font-weight:bold;
}
.mainContent div.toolbar span em{
  padding: 0.8em 0.5em;
  text-decoration: none;
  color: gray;  
  font-weight:bold;
  font-style: normal;
}

div.clear {
  clear:both;
}

.footer {
  clear:both;
  margin: 1.5em auto;
  text-align: center;  
}
h1{
  font-size: 1.125em;
  line-height: 1em;
  margin: 1em;
  font-weight: 300;
}

p{
  font-size: 0.750em;
  line-height: 1.5em;
  margin: 1.5em;
}

p img{
  width:7.5em;
  height:7.5em;
  margin:0 1.5em 1.5em 0;
  float:left;
}

.feedbackPanelERROR {
  color: #FF0000;
}
.feedbackPanelINFO {
    color: green;
    list-style: circle;
    font-weight: bold;
}

table.dataview tr.even {
  background-color: #f2efe9;
}
table.dataview tr.odd {
  background-color: #ffffff;
}

.error {
  border-style: solid;
  border-color: red;
}
div#box {
  border: thin dotted #6F6F6F;
  margin: auto;
  padding: 1em;
  text-align: left;
  width: 17em;
}
div#box label {
  width: 7em;
  display:block;
  text-align: left;
  margin-right: 0;
}
div#box p {
  clear: left;
  padding-left: 9em;
  margin: auto;
}
a img {
  border-width:0;
}
