@CHARSET "ISO-8859-1";

#preview {
  margin-left: 10em;
  width: 35em;
}
.overlay {
	padding: 0.5em;
	/*background-color: #AAA;*/
	visibility: visible;
	filter: alpha(opacity=60);
	opacity: 0.6;
	-moz-opacity: 0.6;
	z-index: 9998;
	display: block;
	border-style: dashed;
	border-width: 0.1em;
	-moz-border-radius: 0.5em;
}