<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
  <wicket:panel>
   
   <table class="dataview" align="left" style="margin-right: 2em;">
    <thead><tr><td><b>Private Aufgaben:</b></td></tr></thead>
   	<tr wicket:id="privatestatslist">
   		<td wicket:id="statname">Anzahl MC-Aufgaben</td>
   		<td wicket:id="statvalue">55</td>
   	</tr>
    </table>
   
   <table class="dataview" >
   <thead><tr><td><b>Gespeicherte Aufgaben aller Benutzer:</b></td></tr></thead>
   	<tr wicket:id="globalstatslist">
   		<td wicket:id="statname">Anzahl MC-Aufgaben</td>
   		<td wicket:id="statvalue">55</td>
   	</tr>
    </table>
  </wicket:panel>
  <DL>
  <DT>Dweeb</DT>
  <DD>young excitable person who may mature
    into a <EM>Nerd</EM> or <EM>Geek</EM></DD>

  <DT>Hacker</DT>
  <DD>a clever programmer</DD>

  <DT>Nerd</DT>
  <DD>technically bright but socially inept person</DD>

</DL>
  
</body>
</html>

