<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/">
<head>
</head>
<body>
	<wicket:panel>
		<div class="colmask holygrail">
		    <div class="colmid">
		        <div class="colleft">
		            <div class="col1wrap">
		                <div class="col1">
							<!-- Column 1 start -->
							<div wicket:id="centercolumn" style="border: 5px solid red;">
								<h2 style="margin:0; padding:0; ">Em dimensions of the holy grail layout</h2>
							</div>
		                </div>
		            </div>
		            <div class="col2"> 
						<!-- Column 2 start -->
						<div wicket:id="leftcolumn" style="height: 100%; border: 2px solid blue;">
		                	<h2>No CSS hacks</h2>
		                </div>
		            </div>
		            <div class="col3">
						<!-- Column 3 start -->
						<div wicket:id="rightcolumn" style="border: 2px solid blue;">
		                	<h2>Full cross-browser support</h2>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</wicket:panel>
</body>
</html>