/* column container */
.${colmask} {
	position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear:both;
    float:left;
       width:100%;				/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* holy grail 3 column settings */
.${holygrail} {
    background:${right-color};    	/* Right column background colour */
}
.${holygrail} .${colmid} {
    float:left;
    width:200%;
    margin-left:-${right-column-width}${unit}; 		/* Width of right column */
    position:relative;
    right:100%;
    background:${middle-color};    	/* Centre column background colour */
}
.${holygrail} .${colleft} {
    float:left;
    width:100%;
    margin-left:-50%;
    position:relative;
    left:${right-plus-left-columns-width}${unit};         		/* Left column width + right column width */
    background:${left-color};    	/* Left column background colour */
}
.${holygrail} .${col1wrap} {
   float:left;
   width:50%;
   position:relative;
   right:${left-column-width}${unit};        		/* Width of left column */
   padding-bottom:0${unit}; 	/* Centre column bottom padding. Leave it out if it's zero */
}
.${holygrail} .${col1} {
   margin:0 ${right-column-width}${unit} 0 ${left-column-width}${unit};     		/* Centre column side padding:
                           	Left padding = left column width + centre column left padding width
                           	Right padding = right column width + centre column right padding width */
   position:relative;
   left:200%;
   overflow:hidden;
}
.${holygrail} .${col2} {
    float:left;
    float:right;			/* This overrides the float:left above */
    width:${left-column-width}${unit};        		/* Width of left column content (left column width minus left and right padding) */
    position:relative;
    right:0${unit};         		/* Width of the left-had side padding on the left column */
    left:0${unit};
}

.${holygrail} .${col3} {
    float:left;
    float:right;			/* This overrides the float:left above */
    width:${right-column-width}${unit};        		/* Width of right column content (right column width minus left and right padding) */
    margin-right:0${unit};  		/* Width of right column right-hand padding + left column left and right padding */
    position:relative;
    left:50%;
}
