<?xml version="1.0"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.sourceforge.net/" xml:lang="en" lang="en">
<body>
    <wicket:border>

		<div wicket:id="colmask_holygrail">
		    <div wicket:id="colmid">
		        <div wicket:id="colleft">
		            <div wicket:id="col1wrap">
		                <div wicket:id="col1">
							<!-- Column 1 start -->
							<div style="">
        						<wicket:body/>
							</div>
		                </div>
		            </div>
		            <div wicket:id="col2">
						<!-- Column 2 start -->
						<div wicket:id="leftcolumn" style="height: 100%; ">
		                	<h2>No CSS hacks</h2>
		                </div>
		            </div>
		            <div wicket:id="col3">
						<!-- Column 3 start -->
						<div wicket:id="rightcolumn">
		                	<h2>Full cross-browser support</h2>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

    </wicket:border>
</body>
</html>
