<?xml version="1.0"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.sourceforge.net/" xml:lang="en" lang="en">
<body>
    <wicket:border>

<div wicket:id="colmask_threecol">
	<div wicket:id="colmid">
		<div wicket:id="colleft">
			<div wicket:id="col1">
				<!-- Column 1 start -->
				<wicket:body/>
				<!-- Column 1 end -->
			</div>
			<div wicket:id="col2">
				<!-- Column 2 start -->
				<div wicket:id="leftcolumn" style="height: 100%;">
                	<h2>No CSS hacks</h2>
                </div>
				<!-- Column 2 end -->
			</div>
			<div wicket:id="col3">
				<!-- Column 3 start -->
				<div wicket:id="rightcolumn" style="">
                	<h2>Full cross-browser support</h2>
                </div>
				<!-- Column 3 end -->
			</div>
		</div>
	</div>
</div>


    </wicket:border>
</body>
</html>
