<html xmlns:wicket>
<wicket:panel>
  <form wicket:id="categoryform">
<div wicket:id="feedback"></div>
  <fieldset>
    <legend><span>Aufgabenblock</span></legend> 
    <ol>
      <li>
        <label for="pointsPerTask">Punkte pro Aufgabe</label> 
        <input type="text" id="pointsPerTask" wicket:id="config.pointsPerTask" class="longinput"></input> 
      </li>
      <li>
        <label for="noOfSelectedTasks">Anzahl zu wählender Aufgaben</label> 
        <input type="text" id="noOfSelectedTasks" wicket:id="config.noOfSelectedTasks"></input> 
      </li>      
      <li>
        <label for="preserveOrder">Reihenfolge beibehalten</label> 
        <input type="checkbox" id="preserveOrder" wicket:id="config.preserveOrder"></input> 
      </li>      
      <li>
        <label for="specific"></label> 
        <span wicket:id="specific" id="specific"></span> 
      </li>      
    </ol>
  </fieldset>
  <fieldset class="submit">
    <input wicket:id="saveButton" value="Ok" type="submit" />
    <input wicket:id="cancelButton" value="Abbrechen" type="submit" />
  </fieldset>  
</form>
</wicket:panel>
</html>
  