<html xmlns:wicket>
<wicket:panel>
  <form wicket:id="categoryform">
<div wicket:id="feedback"></div>
  <fieldset>
    <legend><span>Kategorie</span></legend> 
    <ol>
      <li>
        <label for="title">Interner Name</label> 
        <input id="title" wicket:id="id" type="text" /> 
      </li>
      <li>
        <label for="title">Aufgabenstellung</label> 
        <input type="text" id="title" wicket:id="title"></input> 
      </li>
      <li>
        <label for="tasksPerPage">Aufgaben pro Seite</label> 
        <input type="text" id="tasksPerPage" wicket:id="tasksPerPage"></input> 
      </li>      
    </ol>
  </fieldset>
  <fieldset class="submit">
    <input wicket:id="saveButton" value="Ok" type="submit" />
    <input wicket:id="cancelButton" value="Abbrechen" type="submit" />
  </fieldset>  
</form>
</wicket:panel>
</html>
  