<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>

  <fieldset>
    <legend>Spezifisch</legend> 
    <ol>
      <li>
        <label for="defaulttext">Antwortvorbelegung</label> 
        <textarea id="defaulttext" wicket:id="initialTextFieldValue"  cols="60" rows="5"></textarea> 
      </li>
      <li>
        <label for="height">H&ouml;he des Textfeldes</label> 
        <input id="height" wicket:id="textFieldHeight" type="text" /> 
      </li>
      <li>
        <label for="width">Breite des Textfeldes</label> 
        <input id="width" wicket:id="textFieldWidth" type="text" /> 
      </li>
    </ol>
  </fieldset>
  
  </wicket:panel>
</body>
</html>