<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Ein Formular</title>
<wicket:head>
<wicket:link>
  <link rel="stylesheet" type="text/css" href="SubtaskDefInputPanel.css" media="all"/>
</wicket:link>
</wicket:head>
</head>
<body>
<wicket:panel>
<form wicket:id="taskform">
<div wicket:id="feedback"></div>
  <fieldset>
    <legend><span>Allgemein</span></legend> 
    <ol>
      <li>
        <label for="title">Interner Name</label> 
        <input id="title" wicket:id="id" type="text" /> 
      </li>
      <li>
        <label for="problem">Aufgabenstellung</label> 
        <textarea id="problem" wicket:id="problem"  cols="60" rows="5"></textarea> 
      </li>
      
    </ol>
  </fieldset>
  <div wicket:id="specificelements"></div>
  <fieldset>
    <legend><span>Weiteres</span></legend> 
    <ol>  
      <li>
        <label for="hint">Hinweis</label> 
        <input id="hint" wicket:id="hint" type="text" style="width: 35em;"></input>
      </li>
      <li>
        <label for="correctionHint">Korrekturhinweis</label> 
        <textarea id="correctionHint" wicket:id="correctionHint" cols="55" rows="3"></textarea> 
      </li>
    </ol>
  </fieldset>
  <!--  may get extended by forms of concrete subtaskdefs -->
  <fieldset class="submit">
    <input wicket:id="saveButton" value="Ok" type="submit" />
    <input wicket:id="cancelButton" value="Abbrechen" type="submit" />
  </fieldset>
</form>
</wicket:panel>
</body>
</html>